<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.7">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>release</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>master</string>
              <string>stable/newton</string>
              <string>stable/mitaka</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.19">
    <script>#!/usr/bin/env groovy

def osa, common

// Jenkins must provide this variable as parameter or the build 
// will fail:
//  - release


// *******************************
stage &apos;Deployment&apos;
// *******************************

echo &apos;Deploying OpenStack using OSA for single node&apos;
node(&apos;master&apos;) {
    
    // Load the external functions using master since the git command
    // might not be available at the agent yet
    fileLoader.withGit(&apos;https://github.com/CasJ/openstack_one_node_ci.git&apos;, &apos;master&apos;, null, &apos;&apos;) {
        common = fileLoader.load(&apos;common.groovy&apos;);
        osa = fileLoader.load(&apos;osa_aio.functions.groovy&apos;);
    }
    
}

node(&apos;agent-xl&apos;) {
    
    // Wait for cloud-init to finish
    common.wait_for_cloud_init()

    // Deploy OpenStack
    echo &apos;Deploying OpenStack All In One&apos;
    git branch: ${release}, url: &apos;https://github.com/openstack/openstack-ansible&apos;
    sh &quot;&quot;&quot;
    export apply_security_hardening=false
    scripts/bootstrap-ansible.sh
    #scripts/bootstrap-aio.sh
    #scripts/run-playbooks.sh
    #cd playbooks/
    #openstack-ansible os-tempest-install.yml
    &quot;&quot;&quot;

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>