<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.8">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.21">
    <script>String from_release = &apos;cas&apos;
def common, osa
stage &apos;Sandbox&apos;
node(&apos;onmetal-provisioner&apos;) {
    
    def host_ip = &apos;104.239.246.198&apos;
    sh &quot;&quot;&quot;
    ssh -o StrictHostKeyChecking=no root@${host_ip} &apos;&apos;&apos;
    cd rolling-upgrades-during-test
    sleep 10
    hostname
    &apos;&apos;&apos; 
    &quot;&quot;&quot; 
    println &apos;hello&apos;
    
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>