<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.23">
    <script>String elasticsearch_ip, elasticsearch_pkey
String host_ip = &apos;172.99.84.142&apos;

stage &apos;Sandbox&apos;

node(&apos;elasticsearch&apos;) {

    // Get the server information
    (elasticsearch_ip, elasticsearch_pkey) = common.get_elasticsearch_server_info()

}

node(&apos;onmetal-provisioner&apos;) {

    // Add the elasticsearch public key to the deployed onmetal host
    common.add_key_to_host(host_ip, elasticsearch_pkey)

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>